/* =========================
   Desktop (Default)
   ========================= */
.layout {
  display: grid;
  min-height: 100vh;

  /* Left | Center | Right */
  grid-template-columns:
    clamp(200px, 15vw, 240px)
    1fr
    clamp(280px, 23vw, 360px);
  grid-template-areas: "left center right";
}

/* Areas */
.left-sidebar {
  grid-area: left;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}

.center-content {
  grid-area: center;
}

.right-sidebar {
  grid-area: right;
}

/* Transitions */
.left-sidebar,
.right-sidebar,
.center-content {
  will-change: transform, opacity;

  transition: transform 0.5s ease, opacity 0.3s ease;
  height: 100%;
}

/* =========================
   Tablet (≤ 1024px)
   Left small | Center
   ========================= */
@media (max-width: 1024px) {
  .layout {
    grid-template-columns: 76px 1fr;
    grid-template-areas: "left center";
  }
  .right-sidebar {
    display: none;
  }
}

/* =========================
   Mobile (≤ 767px)
   Center only
   ========================= */
@media (max-width: 767px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas: "center";
  }
  .right-sidebar {
    display: none;
  }

  .left-sidebar {
    display: none;
  }
}
